{% load staticfiles %}
<html>
	<head>
		<title>Cadastro de Cliente</title>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="{% static 'css/style.css' %}">

	<body>
		<h1>Cadastrar pessoa física</h1>
		<br/>

		<form method="POST">{% csrf_token %}
			{{ form.as_p }}
			<button type="submit">Cadastrar</button>
		</form>

	</body>

</html>